.headshot{
    padding: 150px 0 100px 0;
    background-size: cover;
    background-image: url("../imgs/tempHeadshot.jpg");
}
.aboutMe{
    text-align: center;
    padding-top: 45px;
}
.header{
    background-color: lightblue;
    display: block;
}
.nav{
    text-align: center;
    padding: 20px;
}
.nav a{
    padding: 15px;
}
h2{
    text-align: center;
}
.footer{
    text-align: center;
}








